<html ng-app="StarterApp">
	<head>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	</head>
	<body ng-controller="AppCtrl">
		<div  layout="column" layout-fill>
			<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<h3>
				You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do
			</h3>
		</div>
		</md-toolbar>
			<md-content style="height: 600px;">
				<md-list>
					<md-list-item class="md-3-line" ng-repeat="x in todoList">
						
							<div class="md-list-item-text">
								
									
										<!----input type="checkbox" ng-model="todo.done"/>
										<span class="done-{{todo.done}}">{{todo.text}}</span----->
										 <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText">
										
									
								
							</div>
							
					</md-list-item>
				</md-list>
				<md-divider></md-divider>
				<md-input-container flex> 
				<label>I need to...</label> 
				 <input class="add-input"  type="text" ng-model="todoInput" ng-model-instant />
			</md-input-container>
				<md-button ng-click="todoAdd()" class="md-primary">Add</md-button>
				<md-button ng-click="remove()" class="md-primary">Remove</md-button>
			</md-content>
		</div>
		
		
	  
	<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
	<script src="js/todo.js"></script>
	</body>
</html>